:root {
  --background: #0f0f0f;
  --text: #d6d6d6;
  --textOpacity: #cbc9c9;
  --textWhite: #fff;
  --primary: #3c52cc;
  --glass: #3c52cc9d;
  --primaryHover: #1e319e;
  --secondary: #840ff1;
  --secondaryHover: #470783;
  --gradient: linear-gradient(90deg, #3c52cc, #5b0cdb);
  --gradientScrolled: linear-gradient(90deg, #3c52ccb7, #4e1cd8c0);
  --card: linear-gradient(90deg, #3c52cca1, #4e1cd882);
  --border: .1rem solid #5a5dfca8;
  --boxShadow: 0 .25rem .8rem rgba(0, 0, 0, 0.158);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  position: relative;
  font-family: var(--font-inter);
}

body {
  color: var(--text);
  background: var(--background);
  background-image: url(../../public/ruido.png);
  display: grid;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.backgroundLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}