.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 1rem;
  align-items: center;
}

.disclaimer {
  font-size: .9rem;
  color: var(--textOpacity);
  text-align: center;
}

.copyright {
  color: var(--primary);
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 4rem 1rem;
  }
}